#header {
    background-image: linear-gradient(160deg, #b100ff 20%,#00b3ff 80%);
    color: white;
    text-align: center;
    padding: 5px;
    user-select: none;
}

#content{
    height: 1000px;
    margin:0 auto;
    width: 1100px;
}

#navigation {
    line-height: 30px;
    background-color: white;
    width: 200px;
    padding: 10px;
    float: left;
}

#sections {
    width:800px;
    padding:10px; 
    float: left;
}

#foot {
    background-color:grey;
    color:white;
    clear: both;
    text-align: center;
    padding: 5px;
}

#nav ul li{
    padding: 10px;
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    transition:all 0.25s ease;
}

#nav ul li:hover{
    background-color: rgb(210,210,210);
    color: white;
}

.nav-selected{
    background-color: rgb(240,240,240);
    color: royalblue;
    border-left: 4px solid royalblue;
}
/*
#sections div{
    display: none;
}*/

.show{
    display: block;
}

.hide{
    display: none;
}

#bref{
    margin: 0 auto;
}

#avatar{
    float:left;
    padding:10px;
}

#info{
    float:left;
    padding:10px;
}

#info > h1{
    font-size: 26px;
}


#introduction{
    clear: both;
    padding: 10px;
    font-family:"Times New Roman", "宋体";
    background-color: aliceblue;
    border-radius:10px;
}

.repo{
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 9999px;
    border:2px solid rgb(240,240,240);
    background-color: rgb(240,240,240);
    width: 300px;
    height: auto;
    transition:all 0.25s ease;
}

.repo:hover{
    transform: scale(1.1);
    cursor: pointer;
    border:2px solid royalblue;
    background-color: white;
}

.icon{
    margin: 4px;
    vertical-align:middle;
    display: inline-block;
    
}

.icon img{
    vertical-align:middle;
    border-radius: 9999px;
}

.repo-info{
    vertical-align:middle;
    display: inline-block;
}

.name{
    font-size: 18px;
    font-weight: bold;
}

.language{
    position: relative;
    font-size: 12px;
    color: #333333;
}

.language-color{
    margin-left: 2px;
    margin-right: 4px;
    top:1px;
    height: 12px;
    width: 12px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.create-date{
    font-size: 12px;
    color: #333333;
}

.create-date::before{
    content:url("clock.svg");
    position: relative;
    margin-right: 2px;
    top:2px;
}

.stars{
    font-size: 12px;
    color: #333333;
}

.stars::before{
    content: url("star.svg");
    position: relative;
    margin-right: 2px;
    top:2px;
}