a:link {
    color: rgb(0, 100, 255);
    text-decoration: none;
}
a:visited {
    color: rgb(0, 100, 255);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}


